pandas
numpy
scikit-learn
nltk
spacy
matplotlib
joblib
google-play-scraper
playwright
flask
flask-cors
groq
python-dotenv
torch
transformers
datasets
accelerate
sentence-transformers
faiss-cpu
openai
